/* Colors */
/* Typography */
html {
  font-size: 10px;
}
.header {
  height: 7rem;
  margin-top: 3rem;
}
.phone-link {
  display: inline-block;
  line-height: 7rem;
  color: #292929;
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: none;
}
.wrap {
  display: table;
  height: 7rem;
  width: 100%;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.wrap-block .button {
  width: 225px;
  height: 50px;
  background-color: #fbb202;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 1rem;
  color: #ffffff;
}
